@page
@model ASP.NET.Demo.Pages.ClientAreaModel
@{
}

<div>
    <div class="row no-gutters">
        <div class="col-10"></div>
        <div class="col-2 d-grid gap-1">
            <div class="row">
                <select id="accounts-list" class="form-select">
                    @foreach (var account in Model.Accounts)
                    {
                        <option value="@account.TraderLogin">@account.TraderLogin</option>
                    }
                </select>
            </div>
            <div class="row table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-hover table-dark table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Bid</th>
                            <th scope="col">Ask</th>
                        </tr>
                    </thead>
                    <tbody id="symbols-table-body">
                        @if (Model.AccountModel is not null && Model.AccountModel.Symbols is not null)
                        {
                            @foreach (var symbol in Model.AccountModel?.Symbols)
                            {
                                <tr>
                                    <td>@symbol.Name</td>
                                    <td>@symbol.Bid</td>
                                    <td>@symbol.Ask</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
    </div>
</div>

<div class="modal fade" id="accountChangeModal" tabindex="-1" role="dialog" aria-labelledby="accountChangeModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accountChangeModalTitle">Changing Account</h5>
            </div>
            <div class="modal-body">
                <p>Please wait...</p>
            </div>
        </div>
    </div>
</div>